body {

}

h1 {
    font-family: 'Russo One', sans-serif;
    color: #111;
    text-shadow: 2px 2px #ccc;
}

h2 {
    font-family: 'Gloria Hallelujah', cursive;
    color: #ccc;
    text-shadow: 2px 2px #111;
    font-size: 36px;
}

h3{
    font-family: 'Gloria Hallelujah', cursive;
}

p {
    font-family: sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Gloria Hallelujah', cursive;
}

nav a {
    padding: .1em;
}

main {

}

header {
    grid-area: head;
    display: grid;
    grid-gap: 1em;
    justify-items: center;
    align-items: center;
    padding: .5em;
    margin-bottom: .1em;
    text-align: center;
}

article div{
    background-color: #333;
    color: #eee;
    padding: 1em;
}

article{
    display: grid;
    grid-gap: 15px;
    grid-template-areas: 
    "banner banner banner"
    "feat1 blog1 blog1"
    "feat2 blog2 blog2"
    "feat3 blog3 blog3";
}

article2{
    display: grid;
    grid-gap: 15px;
    grid-template-areas: 
    "feat1 blog1 blog1"
    "feat2 blog2 blog2"
    "feat3 blog3 blog3"
    "feat4 blog4 blog4"
    "feat5 blog5 blog5";
}
article2 div{
    background-color: #333;
    color: #eee;
    padding: 1em;
}


.feat1{
    grid-area: feat1;
    padding: 15px;
    margin: auto;
}
.feat2{
    grid-area: feat2;
    padding: 15px;
    margin: auto;
    }
.feat3{
    grid-area: feat3;
    padding: 15px;
    margin: auto;
}
.feat4{
    grid-area: feat4;
    padding: 15px;
    margin: auto;
}
.feat5{
    grid-area: feat5;
    padding: 15px;
    margin: auto;
}
.banner{grid-area: banner;}
.blog1{grid-area: blog1;}
.blog2{
    grid-area: blog2;
    height: 300px;
}
.blog3{grid-area: blog3;}
.blog4{grid-area: blog4;}
.blog5{grid-area: blog5;}


footer{
    font-family: 'Gloria Hallelujah', cursive;
    color: #eee;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;

}

#itempic{
padding-top: 18%;
}

#ugreed{
    padding-top: 18%;
}

.link{
    color: #eee;
    font-size: 22px;
}

table{
    color: #eee;
}